[Desktop Entry]
Name=Air Pollution
Comment=Shows current air pollution for Polish city.

Icon=contents/icons/airpollution.png
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Marek
X-KDE-PluginInfo-Email=marek@no.mail
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/marek-g/plasma-applet-air-pollution
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.airpollution

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
